@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

*{
  color: #424B54;
  padding:0;
  margin:0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: white;
}

.header {
  height: 50px;
}

.header--content {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 10px;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  padding: 20px 0px;
}

.content {
  max-width: 960px;
  margin: 0px auto;
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  background: #9B5DE5;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -1px);
}

.btn:hover {
  transform: none;
  filter: brightness(120%);
  box-shadow: none;
}

.btn:disabled {
  background: rgb(191, 191, 191);  
}

.btn:disabled:hover {
  filter:none;
  cursor:not-allowed;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -1px);
}

.btn-positive {
  background-color: #138A36;
}

.btn-minimal {
  transform: none;
  box-shadow: none;
  padding: 0;
  margin: 0px 20px;
  font-weight: normal;
  text-transform: none;
  color: #424B54;
  background: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.btn:nth-of-type(1) {
  margin: 0px;
}
