@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

:root {
  --text: #626262;
  --positive: #7957FF;
  --negative: #FF4A4A;
  --inactive: #DFDFDF;
  --background: #EFEFEF;
}

*{
  color: var(--text);
  padding:0;
  margin:0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: var(--background);
}

.header {
  height: 50px;
}

a {
  color: var(--positive);
}

.header__content {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  font-size: 1.2em;
}

.header__avatar {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 5px;
  display: flex;
  width: 2em;
  height: 2em;
  background-color: var(--positive);
  color: white;
  border-radius: 1em;
  justify-content: center;
}

.header__name {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  margin-right: 1em;
}

.header__btn {
  color: var(--positive);
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.header__btn--highlight {
  color: var(--positive);
}

.header__btn--negative {
  color: var(--negative);
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
}

nav {
  margin-top: 1.5em;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}

.login__form {
  display: flex;
  width: 30%;
  min-width: 200px;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

input[type=text] {
  width: 100%;
  background: white;
  outline: none;
  border: solid 2px var(--inactive);
  border-radius: 1em;
  padding: 10px;
  color: var(--text);
  font-size: 1em;
  font-family: 'Arimo', sans-serif;;
}

input[type=text]:focus {
  color: var(--positive);
  border: solid 2px var(--positive);
}

input[type=text]::placeholder {
  color: var(--inactive);
}

p {
  padding-top: 0px;
  padding-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  padding: 20px 0px;
}

.question {
  margin-top: 1em;
}

.question__eval {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
}

.question__eval h3 {
  padding-bottom: 1em;
}

.rbuttons, .labels {
  display: flex;
  justify-content: space-between;
}

.rbutton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  max-width: 960px;
  margin: 0px auto;
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 10px;
  background: var(--positive);
  font-size: 1em;
  border: none;
  border-radius: 30px;
  text-transform: lowercase;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--big {
  font-size: 1.5em;
}

i {
  color: inherit;
  margin-left: -5px;
  padding-right: 0.3em;
}

.header__avatar i {
  margin-left: 0px;
  padding-right: 0em;
}

.btn--negative {
  background-color: var(--negative);
}

.btn:disabled {
  background: var(--inactive);
}

.btn:disabled:hover {
  cursor:not-allowed;
}

.btn-minimal {
  transform: none;
  box-shadow: none;
  padding: 0;
  margin: 0px 20px;
  font-weight: normal;
  text-transform: none;
  color: #424B54;
  background: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.btn:nth-of-type(1) {
  margin: 0px;
}

.user {
  display: flex;
  flex-direction: column;

}

.user__lesson {
  display: flex;
  justify-content: space-between;
  border-bottom: white solid 1px;
  padding: 0.5em 0em;
  background-color: none;
  transition: all 0.2s;
}

.user__lesson:hover {
  background-color: white;
  transition: all 0.2s;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 0.9em;
  }

  .header__avatar {
    display: none;
  }

  .header__name {
    display: none;
  }

  nav {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 0.5em;
  }
}